09-idempotent-webhook-gateway/workflow.json
{
  "name": "Idempotent Webhook Gateway",
  "nodes": [
    {
      "id": "sticky-1",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        80,
        60
      ],
      "parameters": {
        "content": "## Idempotent Webhook Gateway\n\nSits in front of any sensitive downstream workflow. Verifies HMAC signature, checks the idempotency key against a Sheet of seen keys, drops duplicates, forwards uniques to the inner workflow.",
        "height": 280,
        "width": 420,
        "color": 4
      }
    },
    {
      "id": "sticky-robust",
      "name": "Robustness Sticky",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        80,
        360
      ],
      "parameters": {
        "content": "## Robustness checklist\n\n. Set this workflow's Error Workflow to the pack's Error Sentinel.\n. Schema validator catches missing AI fields. Branch handles fallback.\n. HTTP nodes retry up to 3 times with 1.5s backoff.\n. Audit Log row written on every run.\n. Idempotency key computed when the trigger is a webhook, so repeat deliveries do not double process.",
        "height": 240,
        "width": 380,
        "color": 6
      }
    },
    {
      "id": "trig-gateway",
      "name": "Public Endpoint",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        260,
        320
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "gateway",
        "responseMode": "lastNode",
        "options": {}
      },
      "webhookId": "REPLACE_ME",
      "notes": "Trigger. Copy the Production URL and POST your payload here."
    },
    {
      "id": "verify",
      "name": "Verify HMAC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        320
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const crypto = require('crypto');\nconst secret = '<<YOUR_WEBHOOK_SECRET>>';\nconst sig = $json.headers['x-signature'] || '';\nconst body = JSON.stringify($json.body || {});\nconst expected = crypto.createHmac('sha256', secret).update(body).digest('hex');\nconst ok = sig === expected;\nreturn [{ json: { ...$json, _hmac_ok: ok, _hmac_expected: expected } }];"
      },
      "notes": "Custom JS. Returns array of {json: ...} items."
    },
    {
      "id": "hmac_gate",
      "name": "Signature Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        700,
        320
      ],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json._hmac_ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "key",
      "name": "Compute Key",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        320
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const crypto = require('crypto');\nconst key = crypto.createHash('sha256').update(JSON.stringify($json.body)).digest('hex').slice(0, 32);\nreturn [{ json: { ...$json, _idempotency_key: key } }];"
      },
      "notes": "Custom JS. Returns array of {json: ...} items."
    },
    {
      "id": "seen_check",
      "name": "Check Seen Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1140,
        320
      ],
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "<<YOUR_SHEET_ID>>",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_ME",
          "name": "Google Sheets"
        }
      }
    },
    {
      "id": "dedup",
      "name": "Decide New",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        320
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const inputKey = $('Compute Key').item.json._idempotency_key;\nconst matches = $input.all().filter(i => i.json.idempotency_key === inputKey);\nreturn [{ json: { ...$('Compute Key').item.json, _is_new: matches.length === 0 } }];"
      },
      "notes": "Custom JS. Returns array of {json: ...} items."
    },
    {
      "id": "new_gate",
      "name": "New?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1580,
        320
      ],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json._is_new }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "record",
      "name": "Record Key",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1800,
        220
      ],
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "<<YOUR_SHEET_ID>>",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_ME",
          "name": "Google Sheets"
        }
      }
    },
    {
      "id": "exec_inner",
      "name": "Execute Inner Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2020,
        220
      ],
      "parameters": {
        "workflowId": "<<YOUR_INNER_WORKFLOW_ID>>"
      },
      "notes": "Runs the protected inner workflow only when the request is new and HMAC verified."
    },
    {
      "id": "ok",
      "name": "Respond Accepted",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2240,
        220
      ],
      "parameters": {
        "options": {},
        "respondWith": "allIncomingItems"
      }
    },
    {
      "id": "dup",
      "name": "Respond Duplicate",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1800,
        420
      ],
      "parameters": {
        "options": {},
        "respondWith": "allIncomingItems"
      }
    },
    {
      "id": "bad_sig",
      "name": "Respond Forbidden",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        920,
        480
      ],
      "parameters": {
        "options": {},
        "respondWith": "allIncomingItems"
      }
    }
  ],
  "connections": {
    "Public Endpoint": {
      "main": [
        [
          {
            "node": "Verify HMAC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify HMAC": {
      "main": [
        [
          {
            "node": "Signature Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Signature Valid?": {
      "main": [
        [
          {
            "node": "Compute Key",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Forbidden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Key": {
      "main": [
        [
          {
            "node": "Check Seen Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Seen Sheet": {
      "main": [
        [
          {
            "node": "Decide New",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decide New": {
      "main": [
        [
          {
            "node": "New?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New?": {
      "main": [
        [
          {
            "node": "Record Key",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Key": {
      "main": [
        [
          {
            "node": "Execute Inner Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Inner Workflow": {
      "main": [
        [
          {
            "node": "Respond Accepted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "errorWorkflow": "<<YOUR_ERROR_WORKFLOW_ID>>"
  },
  "versionId": "",
  "id": "idempotent-webhook-gateway",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "n8n-gumroad-pack"
  },
  "tags": [],
  "pinData": {}
}